/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    
 }

 html{
  scroll-behavior: smooth;
 }

 
 :root{
    --main-color: #ead9eb;
    --bg-color: #ffffff;
    --text-color: #0f0c27;
    --hover: #fd7f32; 

    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 1.03rem;

 }

 body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
 }

 section{
   padding: 60px 10%;
   
 } 
 *::selection{
   color: var(--bg-color);
   background: var(--main-color);
 }

 /*============ navigation bar===========*/

 header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 15px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
 }

 .logo{
  font-size: 1.41rem;
  font-weight: 600;
  color:  #ec6424;
 }

 .navbar{
  display: flex; 
 }

 .navbar a{
  font-size: 1rem;
  padding: 12px 29px;
  color: #fff;
  font-weight: 500;
 }

 .navbar a:hover{
  color: #d3561c;
 }

 #menu-icon{
  font-size: 23px;
  cursor: pointer;
  z-index: 10001;
  display: none;
 }

 #darkmode{
  font-size: 21px;
  cursor: pointer;
 }


 /*=================== home section============*/
.home{
  min-height: 100vh;
	width: 100%;
  background-image: linear-gradient(rgba(3, 19, 18, 0.671),rgba(41, 24, 5, 0.651)),url(backgr.jpg);
  background-position: center;
	background-size: cover;
	
  
}
.home-text{
  width: 90%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home h2{
  letter-spacing: .33rem;
	color: #1f0f09;
	font-size: 10rem;
	text-align: center;
	font-family: 'Rancho', cursive;
	
}
.home-text p{
  font-size: 3.3rem;
  color: #e25214;
  letter-spacing: .22rem;
  font-weight: 500;
}

 .btn{
   display: inline-block;
   background: #434646;
   color: #ffffff;
   padding: 0.7rem 1.3rem;
   border-radius: 0.7rem;
   
 }
 .btn:hover{
   background: #d8e4e4;
   color: #000000;
   transition: .2s;
 }

  /*=================== about section============*/

.about{
  height: 90vh;
}

  .about h2{
   font-family: 'Raleway', sans-serif;
   font-size: 40px;
   font-weight: 400;
   text-align: center;
   margin-top: 3.5rem;
 }
 .heading{
   text-align: center;
 }
.about-container{
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   gap: 1rem;
   margin-top: 9rem;
}
.about-img img{
   width: 70%;
   margin-top: -4.5rem;
}
.about-text p{
   font-size: var(--p-font);
   font-weight: 400;
   text-align: center;
   margin-top: 3rem;
   line-height: 2rem;
}

/*=================== skills  section============*/

.skills{
  background-color: #f3e6dd49;
}
.skills-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.skills-img img{
  width: 80%;
  padding-left: 4rem;
  margin-left: 5rem;
  object-position: center;
}


@keyframes float{
	50%{
		transform: translateY(0rem);
	}
	0%, 100%{
		transform: translateY(3rem);
	}
}

.bars-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3{
  font-size: 1.1rem;
  font-weight: 500;
}
.bars-box span{
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(45, 35%, 24%, 0.4);
  border-radius: 0.5rem;
}
.percent-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: #2c2b21a6;
  border-radius: 0.5rem;
}
.html-bar{
  width: 97%;
}
.css-bar{
  width: 94%;
}
.js-bar{
  width: 60%;
}

/*=================== services  section============*/

.services{
  margin-bottom: 4rem;
}
.services h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 13rem;
  margin-top: 2rem;
}
.services-box{
  padding: 20px;
  margin-top: 5rem;
  width: 300px;
  height: 16.4rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.8rem;
  background-color: #eee2df;

}
.services-box .bx{
  padding-top: 2rem;
  font-size: 54px;
  color: #ff0054;
}
.services-box:hover{
  transform: translateY(30px);
  transition: 1s;
}
.services-box h3{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
  color: #141414;
}
.services-box a{
  color: #ffffff;
  font-size: var(--p-font);
  font-weight: 500;
  background-color: #ff9f1c;
  border-radius: 1rem;
  height: 3.2rem;
  padding: 0.8rem;
}
.services-box:hover  a{
  color: #000000;
  background-color: #ffffff;
}

/*=================== portfolio section============*/

.portfolio{
  background-color: #f3e6dd49;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
  
}
.portfolio h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.portfolio-img{
  overflow: hidden;
  border-radius: 0.5rem;
  flex-basis: 32%;
	border-radius: 20px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden; 
}
.portfolio-img img{
  width: 100%;
  display: block;
}

.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(196, 93, 25, 0.7);
}
.layer a{
	width: 100%;
	font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 88%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover a{
	bottom: 49%;
	opacity: 1;
}


/*=================== contact form section============*/

.contact h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.contact-form{
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
form textarea{
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid black;
  outline-style: ;
  background: #ffffff;
  margin-bottom: 1rem;
  color: var(--text-color);
}
.contact-button{
  width: 150px;
  height: 52px;
  cursor: pointer;
  justify-content: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 15.6rem;
}

.contact-button:hover{
  background-color: #272525;
  transition: 0.2s;
  color: #ffffff;
}

/*=================== footer section============*/

.footer{
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ffffff;
  color: #000000;
}
.footer h4{
  font-size: 15px;
  font-weight: 400;
  line-height: 2rem;
}
.footer-social a i {
  color: #000000;
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #eee7e7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
}

.copyright{
  padding: 30px;
  text-align: center;
}







/*========== media query responsive ========*/

@media (max-width: 991px){
  header{
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}

@media (max-width: 768px){
  :root{
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header{
    padding: 11px 4%;
  }

  #menu-icon{
    display: initial;
    color: #fff;
  }
  header .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active{
    top: 100%;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
    color: #000000;
  }
  #darkmode{
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text{
    grid-column: 1/3;
    padding-left: 1.4rem;
  }

  .about{
    height: 100vh;
  }

  .about-container{
   grid-template-columns: 1fr;
   

  }
  .about-img {
    margin-left: 7rem;
    width: 70%;
   justify-content: center;
   display: flex;
  }
  .about-text p{
    font-size: 1rem;
    padding: 10px;
  }
  .about h2{
    margin-bottom: -2.4rem;
  }

  .skills-container{
    grid-template-columns: 1fr;
  }
  .skills-img img{
    padding-left: 0;
  }
  .skills-img{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    margin-left: -6rem;
  }

  .services{
    margin-bottom: 1rem;
  }
  .services-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
  }
  .services-box{
    margin-left: 1.4rem;
    margin-top: 2rem;
    width: 300px;
    height: 16.4rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }


  .portfolio-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;;
  }

  .portfolio-img img{
    width: 80%;
    margin-left: 4.5rem;
  }
}


@media (max-width: 480px){
  .home-text p{
    font-size: 2.5rem; 
  }
  .home h2{
    font-size: 5rem;
    padding: 0%;
    left: 0%;
  }
  .about{
    height: 100vh;
  }
  .about-container{
    grid-template-columns: 1fr;
  }
  .about-img{
    display: flex;
    justify-content: center;
  }

}